<button id="button" onclick="showhide3()" class="btn btn-primary">Reopen or Close Case</button>
<div id = "reopen_case" style="display:none;">
<!-- the form_for doesn't specify the action to be used, and doesn't need one, as it uses the update action
 since we specified the method as put, and tied it to the @case object -->
<%= form_for(@case, method: :put) do |f|%>
	<%= f.label :description %>
	<%= f.text_area :description, class: 'form-control' %>
	<%= f.select(:status, Case.statuses.keys, {selected: 'open'}, {class: 'btn dropdown-toggle'}) %> <!-- .statuses.keys retrieves the enum keys for status -->
	<p></p>
	<%= submit_tag "Reopen Case", class: 'btn btn-primary'  %>

<% end %>

<p></p>

<%= button_to("Close",close_path, {method: :put, remote: true, id:@case.id, class: 'btn btn-primary'})%>
</div>
<br/>