<%= form_for @case do |f| %>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: 'form-control' %>
		<%= f.label :category %>
		<%= f.select(:category_id, options_from_collection_for_select(Category.all, :id, :name), class: 'form-control') %>
	</div>

	<%= f.submit "Log your complaint", class: 'btn btn-primary' %>
<% end %>
