
<header class="mdl-layout__header mdl-layout__header--waterfall site-header">
  <div class="mdl-layout__header-row site-logo-row"><span class="mdl-layout__title">
      <div class="site-logo"></div><span class="site-description">Query Tracker</span></span></div>
  <div class="mdl-layout__header-row site-navigation-row mdl-layout--large-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <%= link_to "Home", root_url, class: "mdl-navigation__link" %>
        <%= link_to "Cases", cases_path, class: "mdl-navigation__link" %>
        <%= link_to "Profile", user_path(current_user), class: "mdl-navigation__link" %>
        <!-- add a notifications item to the navbar -->
    </nav>
  </div>
</header>

<div class="mdl-layout__drawer mdl-layout--small-screen-only">
  <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
    <%= link_to "Home", root_url, class: "mdl-navigation__link" %>
    <%= link_to "Cases", cases_path, class: "mdl-navigation__link" %>
    <%= link_to "Profile", user_path(current_user), class: "mdl-navigation__link" %>
    <!-- add a notifications item to the navbar -->
  </nav>
</div>