<!DOCTYPE html>
<html>
  <head>
    <title>QueryTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
	  <div class="container"> 
      <% if user_signed_in? && current_user.is_admin? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
	  	  <%= render 'layouts/header' %>
      <% end %>
	    <%= yield %>
	  </div>
  </body>
</html>
