<!DOCTYPE html>
<html>
  <head>
    <title>QueryTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'material', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'material', media: 'all', 'data-turbolinks-track' => true %>
    <%= render 'layouts/meta' %>
  </head>

  <body id = "top">
      <% if user_signed_in? && current_user.is_admin? %>
        <%= render 'layouts/admin_header' %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>
        	    <%= yield %>
  </body>
</html>
